# temporary files
*.tmp
*.sw*

# audio files
*.mp3
*.m4a
*.wav
*.m3u

# build temporaries
Makefile.d
*.o
*.obj
*.exp
*.lib
build
build_win
*_plugin_import.cpp
core

# build outputs
depends.mak
include
mp2k-clef
mp2k-clef_d
*.dll
*.a
*.so
*.exe
*_gui
*_gui_d
*.clap
*.vst3
gui/Makefile*

# external dependencies
plugins/foobar2000
plugins/pfc
plugins/libPPUI

# game files
*.gba
*.cheats
*.sav
*.ss*
